@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
a:link {
  color: rgba(255, 255, 255, 0.55);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.14em;
}

a:visited {
  color: rgba(255, 255, 255, 0.55);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.14em;
}

a:hover, a:active {
  color: rgb(255, 110, 48);
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.14em;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  background-color: #283036;
  color: rgba(255, 255, 255, 0.55);
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.container {
  width: 92.2807017544%;
  margin: 0 auto;
}

.button {
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  color: #FDF5FF;
  border-radius: 8px;
}
.button:hover {
  cursor: pointer;
}

.button_transparent {
  color: rgba(255, 255, 255, 0.7803921569);
  background-color: none;
}

.button_colorfull {
  border-radius: 6px;
  background-color: rgb(255, 110, 48);
}

h1 {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.9);
  line-height: 140%;
}

h2 {
  font-size: 48px;
  line-height: 129%;
  color: rgba(255, 255, 255, 0.9);
}

h3 {
  font-size: 24px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.9);
}

.header {
  margin-top: 50px;
}

.header__container {
  display: flex;
  align-items: center;
  padding: 0.5em;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.9);
}

.logo {
  border-radius: 9px;
  overflow: hidden;
}

.logo__img {
  border-radius: 9px;
}

.header__menu {
  display: flex;
  gap: 2.5em;
  justify-content: center;
}

.menu__item_drop {
  position: relative;
}
.menu__item_drop::after {
  content: ">";
  position: absolute;
  top: 0.2em;
  transform: rotate(90deg);
  font-size: 1.5em;
}
.menu__item_drop:hover::after {
  cursor: pointer;
  color: rgb(255, 110, 48);
}

.dropMenu {
  display: none;
}

.login {
  padding: 0.75em 1.75em;
}

.header__signIn {
  padding: 0.75em 1.75em;
}

.lead {
  display: flex;
  justify-content: flex-end;
}

.lead__container {
  display: flex;
  justify-content: space-between;
  max-height: 600px;
  overflow-y: hidden;
  max-width: 1308px;
}

.lead__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex: 9 9 600px;
  padding: 90px 0 0;
}

.lead__header {
  margin-bottom: 30px;
}

.colorText {
  color: rgb(255, 110, 48);
}

.lead__text {
  font-size: 18px;
  line-height: 166%;
  font-weight: 400;
  margin-bottom: 60px;
}

.lead__searchForm {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  min-width: 80%;
  max-width: 498px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 0 2% 0 3%;
}
.lead__searchForm::before {
  content: url(/img/icons/search.png);
}

.lead__search {
  min-height: 64px;
  background-color: rgba(255, 255, 255, 0);
  flex: 3 3 auto;
  padding-left: 1em;
}

.lead__searchButton {
  padding: 12px 36.12px;
  flex: 1 1 130px;
  max-height: 66%;
}

.lead__socialLinks {
  margin-top: 110px;
}

.socialLinks {
  display: flex;
  gap: 45px;
}

.fbIconLink:hover {
  background: url("/img/icons/fb_hover.jpg") no-repeat;
}
.fbIconLink:hover img {
  opacity: 0%;
}

.instaIconLink {
  display: inline-block;
}
.instaIconLink:hover {
  background: url("/img/icons/insta_hover.jpg") no-repeat;
}
.instaIconLink:hover img {
  opacity: 0%;
}

.twitterIconLink:hover {
  background: url("/img/icons/twitter_hover.jpg") no-repeat;
}
.twitterIconLink:hover img {
  opacity: 0%;
}

.lead__imageContainer {
  flex: 11 11 auto;
  text-align: end;
}

.cards__wrapper {
  text-align: center;
  padding: 220px 0 200px;
}

.cards__header {
  margin-bottom: 25px;
}

.cards__description {
  font-size: 18px;
  font-weight: 500;
  line-height: 166%;
  max-width: 440px;
  margin: 0 auto 90px;
}

.cards__container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2.52vw;
}

.cards__item {
  display: inline-block;
  max-width: 392px;
}

.cards__button {
  font-size: 20px;
  line-height: 150%;
  color: rgb(255, 110, 48);
  border: rgba(255, 255, 255, 0.1) solid 1px;
  padding: 0.85em 1.9em;
  margin-top: 5em;
}
.cards__button:hover {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(255, 110, 48);
  border-width: 5px;
}

.card {
  max-width: 392px;
  position: relative;
  display: flex;
  justify-items: center;
  border-radius: 15px;
}
.card *:not(.card__download) {
  border-radius: 15px;
  cursor: default;
}
.card:hover .card_container {
  -webkit-animation: cardHover 0.1s linear 1 normal running 0s forwards;
          animation: cardHover 0.1s linear 1 normal running 0s forwards;
}
.card:hover .card__button {
  background-color: rgb(255, 110, 48);
  color: rgb(255, 255, 255);
  border-radius: 8px;
}
.card:hover ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.005);
  z-index: -1;
  overflow: hidden;
}
.card:hover .card_container::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 80%;
  width: 20%;
  height: 21%;
  filter: blur(25px);
  overflow: hidden;
  background-color: rgba(255, 110, 48, 0.55);
  z-index: 0;
}
.card:hover .card__header {
  color: rgba(255, 255, 255, 0.9);
}
.card:hover .card__descriptor {
  color: rgb(255, 165, 55);
}
.card:hover .card__text {
  color: rgba(255, 255, 255, 0.78);
}

@-webkit-keyframes cardHover {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-4px);
  }
  40% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(-12px);
  }
  80% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes cardHover {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-4px);
  }
  40% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(-12px);
  }
  80% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.card_container {
  min-width: 100%;
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 30px;
  z-index: 2;
  overflow: hidden;
}

.card__headerContainer {
  text-align: left;
}

.card__head {
  display: flex;
  justify-self: center;
  gap: 2em;
}

.card__logo {
  display: inline-block;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__header {
  color: rgba(255, 255, 255, 0.78);
  letter-spacing: 0;
}

.card__descriptor {
  font-size: 18px;
  color: rgba(255, 165, 55, 0.55);
}

.card__text {
  line-height: 188%;
  font-weight: 400;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 0.55);
  text-align: left;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__footer .card__like:hover, .card__footer .card__download:hover {
  cursor: pointer;
}

.card__actions {
  display: flex;
  gap: 30px;
}

.card__button {
  padding: 0.56em 2.19em;
  color: rgba(255, 255, 255, 0.55);
}

.fontSize14 {
  font-size: 14px;
}

.fontSize16 {
  font-size: 16px;
}

.clients {
  position: relative;
  margin-bottom: 220px;
  z-index: 1;
  overflow: hidden;
  border-radius: 8px;
}
.clients .clients__container::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -5%;
  width: 10%;
  height: 40%;
  filter: blur(40px);
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(255, 110, 48);
  z-index: 0;
}

.clients__gradientBorder {
  background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 7px, transparent 7px) 0% 0%/8px 8px no-repeat, radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 7px, transparent 7px) 100% 0%/8px 8px no-repeat, radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 7px, transparent 7px) 0% 100%/8px 8px no-repeat, radial-gradient(circle at 0 0, #ffffff 0, #ffffff 7px, transparent 7px) 100% 100%/8px 8px no-repeat, linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 2px) calc(100% - 16px) no-repeat, linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 2px) no-repeat, linear-gradient(112deg, rgba(255, 110, 48, 0.55) 4%, rgba(255, 110, 48, 0.1) 12%, rgba(44, 53, 61, 0.2) 26%);
  border-radius: 8px;
  padding: 1px;
  box-sizing: content-box;
  width: 100%;
}

.clients__container {
  border-radius: 6px;
  padding: 55px 83px;
  background-color: rgb(44, 53, 61);
  z-index: 0;
  position: relative;
}

.clients__header {
  text-align: center;
  margin-bottom: 55px;
}

.clients__clientsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8vw;
}

.new__container {
  display: flex;
  flex-wrap: wrap;
}

.new__header {
  margin-bottom: 30px;
}

.new__description {
  flex: 7 1 427px;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 166%;
}

.new__button {
  padding: 0.91em 2.2em;
}

.new__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex: 13 1 600px;
}

.new__cardItem {
  max-width: 288px;
  font-size: 14px;
}

.slider__container {
  display: flex;
  overflow-x: hidden;
  position: relative;
}

.slider__left, .slider__right {
  align-self: center;
  position: absolute;
  top: 50%;
  padding: 1em;
  border-radius: 8px;
  z-index: 2;
}
.slider__left:hover, .slider__right:hover {
  cursor: pointer;
  background-color: rgb(255, 110, 48);
  color: rgba(255, 255, 255, 0.9);
}

.slider__right {
  right: 0;
}

.slider__content {
  padding: 0 10vw;
  display: flex;
  height: 492px;
  gap: 6vw;
}

.slider__item {
  display: flex;
  width: 80vw;
  padding: 0 10vw 0 0;
  position: absolute;
  transition: all 2s linear;
}

.slider__photoContainer {
  position: relative;
  flex: 2 2 540px;
}

.slider__table {
  position: absolute;
  bottom: 2%;
  right: 0%;
  background-color: rgba(40, 48, 54, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 8px;
  padding: 0.5em 1.45em;
}

.table__name {
  font-size: 26px;
  line-height: 150%;
  letter-spacing: 0.015em;
}

.table__info {
  font-size: 16px;
  line-height: 150%;
}

.slider__text {
  font-size: 14px;
  line-height: 214%;
  letter-spacing: 0.015em;
  align-self: center;
  padding: 3em 0 0 3em;
  flex: 1 1 500px;
  background: url(/img/“.png) 0% 0% no-repeat;
  overflow: visible;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56.59px;
}