@import "variables.scss";
.card {
    max-width: 392px;
     &:hover ::before{
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        filter: blur(1px);
        background: linear-gradient(45deg,  #283036 80%, rgba(255, 110, 48, .55)
         100%);
         z-index: -1;
         border-radius: 15px;
    }
    position: relative;
}


.card_container {
    padding: 2.5em;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.card__headerContainer{
    text-align: left;

}
.card__head {
    display: flex;
    justify-self: center;
    gap: 2em;
}
.card__logo {
    display: inline-block;
    object-fit: contain;
}
.card__header {
    color: rgba(255, 255, 255, 0.78);
    letter-spacing: 0;
}
.card__descriptor {
    font-size: 18px;
    color: rgba(255, 165, 55, 0.55);
}
.card__text {
    color: rgba(255, 255, 255, 0.55);
    text-align: left;
}
.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & *:hover{
        cursor: pointer;
    }
}
.card__actions{
    display: flex;
    gap: 30px;
}
.card__like {

}
.card__download {
}
.card__button {
    padding: 0.56em 2.19em;
    color: rgba(255, 255, 255, 0.55);

}
.button_colorfull {
}
.button {
}