@import "variables.scss";
.header {
    margin-top: 50px;
}
.header__wrapper {
}
.header__container {
    display: flex;
    align-items: center;
    padding: 0.5em;
    justify-content: space-between;
}
.container {
}
.header__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    line-height: 150%;
    color: $headerColor;
}
.logo {
    border-radius: 9px;
    overflow: hidden;
}
.logo__img {
    border-radius: 9px;
}
.logo__name {
}
.header__menu {
    display: flex;
    gap: 2.5em;
    justify-content: center;
}
.menu {
}
.menu__item {
}
.menu__item_drop {
    position: relative;
    &::after{
        content: ">";
        position:absolute;
        top: 0.2em;
        transform: rotate(90deg);
        font-size: 1.5em;
    }
    &:hover::after{
        cursor: pointer;
        color: $buttonColor;
    }
}


.dropMenu{
    display: none;
}
.dropable {
}
.header__controls {
}
.login {
    padding: 0.75em 1.75em;
}
.header__login {
}
.signIn {

}
.header__signIn {
    padding: 0.75em 1.75em;
}