@import "variables.scss";

.slider__container {
  display: flex;
  overflow-x: hidden;
  position: relative;
}

.slider__left, .slider__right {
  align-self: center;
  position: absolute;
  top: 50%;
  padding: 1em;
  border-radius: 8px;
  z-index: 2;
  &:hover{
    cursor: pointer;
    background-color: $buttonColor;
    color: $headerColor;
  }
}
.slider__left{
  transform: translateY(-50%);
}
.slider__right {
  right: 0;
  top: 100;
  transform: translateY(-50%) rotate(180deg);
}

.slider__content {
  padding: 0 10vw;
  display: flex;
  min-height: fit-content;
  height: 600px;
  max-height: 100vh;
  overflow: visible;
  gap: 6vw;
}
.slider__item {
    display: flex;
    width: 80vw;
    height: 80%;
    padding: 0 10vw 0 0;
    position: absolute;
    transition: all 0.5s ease-out;
}
.slider__photoContainer {
  position: relative;
  flex: 2 2 540px;
}
.slider__table {
  position: absolute;
  bottom: 2%;
  left: 12%;
  background-color: rgba(40, 48, 54, 0.2);
  backdrop-filter: blur(25px);
  border-radius: 8px;
  padding: 0.5em 1.45em;
}
.table__name {
  font-size: 26px;
  line-height: 150%;
  letter-spacing: 0.015em;
}
.table__info {
  font-size: 16px;
  line-height: 150%;

}
.slider__text {
  display: flex;
  font-size: 14px;
  line-height: 214%;
  letter-spacing: 0.015em;
  align-self: center;
  align-items: center;
  padding: 3em 0 0 3em;
  flex: 1 1 500px;
  background: url(/img/“.png) 0% 0% no-repeat;
  overflow: visible;
}
.slider__lines{
  display: flex;
  gap: 18px;
  justify-content: center;
  margin-top: 100px;
}
.slider__line{
    min-height: 8px;
    min-width: 44px;
    width: 44px;
    min-width: 20px;
    border-radius: 4px;
      &:hover{
        cursor: pointer;
      }
}
.slider__line_disabled{
  background-color: rgba(255, 255, 255, 0.1);;
}
.slider__line_active{
  background-color: $buttonColor;
}

@media (max-width: 995px) {
  .slider {
    display: flex;
    flex-direction: column;
  }
  .slider__container{
    margin-top: 20vh;
    // flex: 1 1 500px;
  }
 
  .slider__item {
    display: flex;
    flex-direction: column;
    background: url('/img/photo__RonaldRichards.png') 50% 30%/contain no-repeat;
    top: 0px;
  }
  .slider__photoContainer {
      display: none;
  }
  .slider__text{
    background-color: rgba(255,255,255, 0.4);
    color: $mainBackground;
    border-radius: 8px;
  }
  .slider__table {
    position: relative;
  }
  .slider__lines{
    margin-top: 0;
    flex: 1 1 auto;
  
  }
}