@import "nullstyle.scss";
@import "fonts.scss";
@import "variables.scss";

   
a:link {
    color: $textColor;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.14em;
  }

  a:visited {
    color: $textColor;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.14em;
  }
  a:hover,  a:active {
    color: $buttonColor;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.14em;
  }

body{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 138.5%;
    letter-spacing: 0.08em;
    background-color: $mainBackground;
    color: $textColor;
    width: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
}

.main{
  flex: 1 0 auto;
}

.container{
    width: $container;
    margin: 0 auto;
}

.button {
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  color: #FDF5FF;
}
.button_transparent {
  color: #FFFFFFC7;
  background-color: none;
}

.button_colorfull {
  border-radius: 6px;
  background-color: $buttonColor;
}

h1{
  font-size: 50px;
  color:$headerColor;;
  line-height: 140%;
}

h2{
  font-size: 48px;
  line-height: 129%;
  color: $headerColor;;
}

h3{
  font-size: 24px;
  line-height: 150%;
  color: $headerColor;

}
@import "header.scss";
.lead {
  display: flex;
  justify-content: flex-end;
}
.container {
}
.lead__container {
  display: flex;
  justify-content: space-between;
  max-height: 500px;
  overflow-y: hidden;
  max-width: 1308px;
}
.lead__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex: 9 9 600px;
  padding: 90px 0 0;
}
.lead__header {
  margin-bottom: 30px;
}
.colorText{
  color: $buttonColor;
}
.lead__text {
  font-size: 18px;
  line-height: 166%;
  font-weight:400;
  margin-bottom: 60px;
}
.lead__searchForm {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  min-width: 80%;
  max-width: 498px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 0 2% 0 3%;

  &::before{
    content: url(/img/icons/search.png);
  }

}

.lead__search {
  min-height: 64px;
  background-color: rgba(255, 255, 255, 0);
  flex: 3 3 auto;
  padding-left: 1em;

}

.lead__searchButton{
  padding: 12px 36.12px;
  flex: 1 1 130px;
  max-height: 66%;
}

.lead__socialLinks {
  margin-top: 20px;

}
.socialLinks {
  display: flex;
  gap: 45px;
}

.socialLink{

}
.fbIconLink {
  &:hover{
    background: url('/img/icons/fb_hover.jpg') no-repeat;
  }
  &:hover img{
    opacity: 0%;
  }
}
.instaIconLink {
  display: inline-block;
  &:hover{
    background: url('/img/icons/insta_hover.jpg') no-repeat;
  }
  &:hover img{
    opacity: 0%;
  }
}
.twitterIconLink {
  &:hover{
    background: url('/img/icons/twitter_hover.jpg') no-repeat;
  }
  &:hover img{
    opacity: 0%;
    
  }
}
.lead__imageContainer {
  flex: 11 11 auto;
  text-align: end;
}
.lead__img {
}
.cards {
}
.cards__wrapper {
  text-align: center;
  padding: 220px 0 200px;
}
.cards__header{
  margin-bottom: 25px;
}

.cards__description {
  font-size: 18px;
  font-weight: 500;
  line-height: 166%;
  max-width: 440px;
  margin: 0 auto 90px;
}

.cards__container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards__item {
  display: inline-block;
  // max-width: fit-content;
  max-width: 392px;
}

@import "card.scss";

@import "footer.scss";
